/**
 * modules/variables
 * ---
 */

/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 0px;
$line-height-base: 1.6;

/**
 * Colors
 */

$primary-1-dark: #399484;
$primary-1-light: #8de4af;
$green-white: #e9eee0;
$primary-2: #04396c;
$white: white;
$dark-blue: #1c1c1c;

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04a4cc;

$primary-1: #88cdfd;
$primary-2: #04396c;
$secondary-1: #8de4af;

/**
 * Grid
 */

$wrapper-width: 1280px;
$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;
