/**
 * partials/footer
 * ---
 */

.footer {
  font-size: 2rem;
  background-color: $dark-blue;
  h2,
  h3 {
    font-weight: 300;
    color: $white;
  }

  ul {
    li {
      a {
        color: $white;
      }
    }
  }
}
