/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */

// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

//fonts

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  color: $regal-blue;
  font-family: "oswald";
  line-height: 1;
}

h1 {
  font-size: 5.5rem;
}
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  padding: 0;
}

h5 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  color: $text-color;
  font-family: "roboto";
  font-size: 1.7rem;
}

ul {
  margin-block-start: 0rem;
  padding-inline-start: 0;
  li {
    color: $text-color;
    font-family: "roboto";
    font-size: 1.7rem;
    font-weight: 400;
    list-style: none;
  }
}

.tagline {
  font-size: 1.8rem;
  font-weight: 200;

  margin: 0;
  padding: 0;
}

img {
  // Don't allow <IMG> to be larger then its container
  max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  color: $text-color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
  // &:active {
  // }
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}

//seperator
.seperator {
  border: 1px solid white;
  width: 25%;
}

//section
section {
  padding: 2rem;
}
