.contact {
  background-color: $white;
  h2,
  p {
    color: $regal-blue;
  }
  h2 {
    margin-bottom: 4rem;
    @media (min-width: $laptop) {
      margin-top: 8rem;
      font-size: 4rem;
      font-weight: 300;
    }
  }

  &_contact-form {
    .wpcf7 {
      @media (min-width: $laptop) {
        padding-right: 25rem;
      }
      .wpcf7-text {
        border: none;
        border-bottom: 2px solid $regal-blue;
        width: 100%;
      }
      .wpcf7-textarea {
        border: none;
        border-bottom: 2px solid $regal-blue;
        width: 100%;
        @media (min-width: $laptop) {
          height: 7.5rem;
        }
      }
      .wpcf7-form {
        p {
          margin-bottom: 2rem;
          label {
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
      .wpcf7-submit {
        width: 100%;
      }
    }
  }

  &_info {
    .details {
      margin-bottom: 4rem;

      ul {
        h3 {
          color: $regal-blue;
          margin-bottom: 4rem;
        }
        li {
          color: $regal-blue;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
