//hero
.hero {
  background: $white;
  height: 90vh;
  padding: 5rem 2rem 0rem 2rem;
  &_text {
    h1 {
      line-height: 1;
      margin: 5rem auto 2rem;
    }

    h2 {
      font-weight: 200;
      color: $primary-1;
      margin: 2rem auto;
    }
    button {
      bottom: 0;
      margin-bottom: 4rem;
      position: absolute;
      width: calc(100% - 4rem);
      @media (min-width: $laptop) {
        width: fit-content !important;
      }
      color: $primary-2;
      border-color: $primary-2;
    }
  }
}
