.main-nav {
  background-color: $primary-1;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  @media (min-width: $laptop) {
    background: $white;
    border-bottom: 1px solid $primary-1;
    justify-content: flex-end;
    flex-direction: row;
  }
  &_top-bar {
    background-color: $white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    @media (min-width: $laptop) {
      width: auto;
    }
    .logo p {
      font-size: 2em;
      font-weight: 500;
      color: $primary-2;
      padding-left: 2rem;
    }

    button {
      background: none;
      border: none;
      font-size: 3em;
      color: $primary-1;
    }
  }

  .menu {
    width: 50%;
    display: flex;
    align-items: center;
  }

  ul {
    display: none;
    margin: 0;
    @media (min-width: $laptop) {
      display: flex;
      align-items: center;
      width: 100%;
      li {
        flex-grow: 1;
        a {
          color: $primary-2;
          display: block;
          text-align: center;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}

.active {
  @media (max-width: $laptop) {
    .main-nav_top-bar {
      justify-content: flex-end;
    }
    .logo {
      display: none;
    }
    ul {
      align-items: baseline;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      li {
        margin: 2rem;
        a {
          color: $white;
          font-size: 1em;
        }
      }
    }
  }
}

// .main-nav {
//   height: 10vh;
//   background-color: red;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   position: relative;
//   z-index: 10;
//   &_top-bar {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     @media (min-width: $laptop) {
//     }
//   }

//   &_logo {
//     background: white;
//     display: inline-block;
//     height: 50px;
//     width: 50px;
//   }

//   button {
//     height: 75px;
//     width: 75px;
//     background-color: grey;
//     display: inline-block;
//     @media (min-width: $laptop) {
//       display: none;
//     }
//   }

//   &_items {
//     display: none;
//     @media (min-width: $laptop) {
//       display: flex;
//     }

//     li {
//       a {
//         color: chartreuse;
//       }
//     }
//   }
// }

// .active {
//   background-color: blue;
//   height: 1000px;
//   justify-content: flex-start;

//   .main-nav_items {
//     display: flex;
//     flex-direction: column;
//   }
// }
