.text-image {
  @media (min-width: $laptop) {
    padding: 7.5rem 2rem 7.5rem 2rem;
  }
  &_image {
    width: 100%;
    img {
      background-color: grey;
      height: 150px;
      margin-bottom: 2rem;
      width: 100%;
      @media (min-width: $laptop) {
        height: 100%;
      }
    }
  }

  // &_text {
  // }
}
