.three-col-text {
  background: $white;
  @media (min-width: $laptop) {
    width: 75%;
  }
  h2,
  h3 {
    color: $primary-2;
  }
  h2 {
    margin-bottom: 6rem;
    text-align: center;
  }
  &_text {
    // margin-bottom: 6rem;

    p {
      color: $primary-2;
      margin-bottom: 4rem;
      @media (min-width: $laptop) {
        // height: 120px;
        margin-bottom: 2rem;
      }
    }
  }
}
