.three-col-text {
  background: $white;
  @media (min-width: $laptop) {
    // width: 75%;
  }
  h2,
  h3 {
    color: $primary-2;
  }
  h2 {
    margin-bottom: 6rem;
    text-align: left;
  }

  h2::after {
    content: " ";
    display: block;
    border: 2px solid $primary-2;
    width: 100px;
    margin-top: 2rem;
  }
  &_text {
    // margin-bottom: 6rem;

    p {
      color: $primary-2;
      margin-bottom: 4rem;
      font-size: 2.5em;
      @media (min-width: $laptop) {
        // height: 120px;
        margin-bottom: 2rem;
        padding-right: 3rem;
      }
    }
  }
}
