.two-col-text {
  background-color: $regal-blue;
  h2,
  h3,
  p {
    color: $white;
  }

  h2 {
    text-align: center;
    margin: 6rem auto;
  }
  p {
    @media (min-width: $laptop) {
      padding-right: 15rem;
    }
  }
}
