.two-col-text {
  background-color: $white;
  h2,
  h3,
  p {
    color: $primary-2;
  }

  h2 {
    text-align: left;
    margin: 6rem auto;
  }

  h2::after {
    content: " ";
    display: block;
    border: 2px solid $primary-1;
    width: 100px;
    margin-top: 2rem;
  }
  p {
    @media (min-width: $laptop) {
      padding-right: 15rem;
      font-size: 2em;
    }
  }
}
