.seo {
  .hero {
    background-color: $white;
    h2 {
      color: $teal;
    }
    .btn-outline {
      background: $teal;
    }
  }
  .text-image {
    background: $teal;
    h2,
    p {
      color: $white;
    }
  }
  .two-col-text {
    background: $white;
    h2,
    h3,
    p {
      color: $regal-blue;
    }
  }

  .three-col-text {
    background: $white;
    h2,
    h3,
    p {
      color: $regal-blue;
    }
  }
  .contact {
    background-color: $green-white;
    .wpcf7-text,
    .wpcf7-textarea {
      background-color: inherit;
    }
    button {
      background: $white;
    }
  }
}
