.web-development {
  //   .hero {
  //     background-color: $white;
  //     h2 {
  //       color: $primary-1;
  //     }
  //     .btn-outline {
  //       background: $primary-1;
  //       border-color: $primary-1;
  //       color: $white;
  //     }
  //   }
  //   .text-image {
  //     background: $green-white;
  //     h2,
  //     p {
  //       color: $primary-2;
  //     }
  //   }

  .contact {
    background-color: $green-white;
    .wpcf7-text,
    .wpcf7-textarea {
      background-color: inherit;
    }
    button {
      background: $white;
    }
  }
}
