/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/grid";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";

//hero
.hero {
  background: $teal;
  height: 90vh;

  h1 {
    line-height: 1;
    margin: 0;
  }

  h2 {
    font-weight: 200;
    color: $white;
  }

  &_text {
  }
}

//buttons

.btn-outline {
  border: 2px solid $white;
  color: $white;
  background-color: inherit;
  padding: 1rem 2rem;

  &--md {
    @extend .btn-outline;
    font-size: 1rem;
  }
  &--lg {
    @extend .btn-outline;
    font-size: 2rem;
  }

  &:hover {
    background-color: $teal-light;
  }
}
